<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link href='/assets/images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
<!-- CSS Global Compulsory -->
<link href="${request.contextPath}/assets/stylesheets/bootstrap/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
<link href="${request.contextPath}/assets/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />

