 <div class="footers" id="positionfoot">
	<div class="container">
			<div class="col-lg-3 col-md-4 pd0">
			<div><img src="${request.contextPath}/assets/images/dx.png"></div>
			<div class="pt10">
			<p>©&nbsp江苏一道云科技发展有限公司 版权所有</p>
			<p>版本号&nbsp;:&nbsp;V2.0</p>
			<!--  <li><a style="color:#fff" href="http://icp.chinaz.com/info?q=1daoyun.com" target="_blank">苏ICP备16001053号-1</a></li> -->
			</div>
			</div>
			<div class="col-lg-7 col-md-8 hidden-xs hidden-sm">
			<div class="pull-left footcontent">
			    <div class="ftitle">合作链接</div>
			    <ul>
			    <li><a href="https://cloud.tencent.com/" target="_blank">腾讯云</a></li>
			     <li><a href="https://www.lenovo.com.cn/" target="_blank">联想</a></li>
			    </ul>
			  </div>
			<div class="pull-left footcontent">
			    <div class="ftitle">共建联盟</div>
			    <ul>
			    <li><a href="javascript:void(0)">服务条款</a></li>
			     <li><a href="javascript:void(0)">关于我们</a></li>
			    </ul>
			  </div>
			
			  <div class="pull-left footcontent">
			    <div class="ftitle">联系我们</div>
			    <ul>
			    <li><a>电话：0510-85618028 &nbsp; &nbsp; </a></li>
			     <li><a>邮箱：info@cetc55.net</a></li>
			     <li><a>地址：无锡市滨湖区太湖西大道2188号江南工业设计园200室</a></li>
			    
			     <!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256903071'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256903071%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script> -->
			    </ul>
			  </div>
			</div>
			<div class="col-lg-2 col-md-12 erweima hidden-xs hidden-sm hidden-md">
			<img src="${request.contextPath}/assets/images/wx_erweima.jpg"/>
			<p>关注我们，随时掌握最新资讯</p>
			</div>
	</div>
</div>