<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords"
	content="一道云，云课堂，MOOC,慕课,在线学习,在线教育,大规模开放式在线课程,网络公开课,视频公开课,高职mooc,中职mooc" />
<meta name="description"
	content="一道云课堂 是先电打造的在线学习平台，每一个有提升愿望的人，都可以在这里学习中国最好的中高职课程，学完还能获得认证证书。一道云课堂是国内最好的中高职MOOC学习平台，拥有来自于多所高校的顶级课程，最好最全的中高职课程，与名师零距离。" />
<meta name="author" content="">
<meta http-equiv="Cache-Control" content="max-age=7200" />
<link rel="shortcut icon" type="image/ico" href="${request.contextPath}/assets/images/favicon.ico" />
<link type="text/css" rel="stylesheet" href="${request.contextPath}/assets/stylesheets/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="${request.contextPath}/assets/stylesheets/mooc.css">
<style>
.container {
    width: 1170px!important;
}

.row{
margin-left:0;
margin-right:0;
}

body{
margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
  
    min-height: 100%;
    box-sizing: border-box;
    min-width: 1200px;
    position: relative!important;
}

#uname{
padding:0!important
}
</style>