<div class="main-left" style="z-index:1;">
<div class="panel panel-default" style="box-shadow: 0 5px 1px rgba(255,255,255,.1);">
		
	</div>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="tabtitle" style="font-size: 14px;font-weight: bold;">
					<i class="fa fa-desktop" style="padding-right:15px"></i>岗位分析
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body" style="padding: 0;">
				<ul>
				<li class="linav" id="gwdata"><a href="${request.contextPath}/learning/gwdata"><span class="fa fa-circle"></span>岗位统计</a></li>
				<li class="linav" id="dxdata"><a href="${request.contextPath}/learning/dxdata"><span class="fa fa-circle"></span>岗位聚类</a></li>
				</ul>
			</div>
		</div>
	</div>
<!-- 	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="tabtitle" style="font-size: 14px;font-weight: bold;">
					<i class="fa fa-desktop" style="padding-right:15px"></i>专业分析
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body" style="padding: 0;">
				<ul>
				<li class="linav" id="schoolfa"><a href="${request.contextPath}/learning/schoolfa"><span class="fa fa-circle"></span>培养方案</a></li>
				<li class="linav" id="schoolmb"><a href="${request.contextPath}/learning/schoolmb"><span class="fa fa-circle"></span>培养目标</a></li>
				
				</ul>
			</div>
		</div>
	</div>
	 -->
	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="tabtitle" style="font-size: 14px;font-weight: bold;">
					<i class="fa fa-desktop" style="padding-right:15px"></i>学情分析
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse in">
			<div class="panel-body" style="padding: 0;">
				<ul>
				<li class="linav" id="stuzy"><a href="${request.contextPath}/learning/stuzy"><span class="fa fa-circle"></span>专业学习</a></li>
				<li class="linav" id="stujl"><a href="${request.contextPath}/learning/stujl"><span class="fa fa-circle"></span>学生聚类</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="tabtitle" style="font-size: 14px;font-weight: bold;">
					<i class="fa fa-desktop" style="padding-right:15px"></i>教学分析
				</a>
			</h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse in">
			<div class="panel-body" style="padding: 0;">
			
				<ul>
				<li class="linav" id="teapj"><a href="${request.contextPath}/learning/teapj"><span class="fa fa-circle"></span>教师评价</a></li>
				<li class="linav" id="coursepj"><a href="${request.contextPath}/learning/coursepj"><span class="fa fa-circle"></span>课程评价</a></li>
				</ul>
				
			</div>
		</div>
	</div> -->
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="tabtitle" style="font-size: 14px;font-weight: bold;">
					<i class="fa fa-desktop" style="padding-right:15px"></i>就业分析
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse in">
			<div class="panel-body" style="padding: 0;">
				<ul>
				<li class="linav" id="stujob"><a href="${request.contextPath}/learning/survey"><span class="fa fa-circle"></span>就业调查</a></li>
				<li class="linav" id="stujob"><a href="${request.contextPath}/learning/stujob"><span class="fa fa-circle"></span>就业情况</a></li>
				<li class="linav" id="jytj"><a href="${request.contextPath}/learning/jytj"><span class="fa fa-circle"></span>就业推荐</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
</div>